body {
    background: burlywood;
    color: white;
    font-size: 11px;
    text-align: center;
    display: flex;
    justify-content: center;
}

div {
    /* border: solid 1px red; */
}

#kalkulator{
    border: solid 1px #ccc;
    padding: 10px;
    background: linear-gradient(#ccf, #88f);
    color: black;
    min-width: 200px;
}

.wrapper {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin: 10px 0;
}

.wrapper div{
    width: 100%;
    /* background: darkblue; */
    padding: 5px 10px;
}

#hasil, #btn-hitung {
    font-size: 22px;
}

#operasi-temporer {
    font-size: 9px;
}

.bg-abu{background: #DBDBDB;}
.bg-red{background: #c00000;}
.bg-dark-brown{background: #4a452a;}
.bg-brown{background: #974807;}
.bg-dark-blue{background: #376091;}
.bg-purpple{background: #7030a0;}
.bg-green{background: #00b050;}

#judul{
    padding: 10px 0;
}

.tombol{
    border: solid 1px #ccc;
    box-shadow: 0 0 3px gray;
}

.tombol-aktif{
    cursor: pointer;
    transition: .2s;
}

.tombol-aktif:hover{
    background: linear-gradient(#fcf, #f0f);
    transform: scale(1.1);
}

.tombol-nonaktif{
    box-shadow: none !important;
}